:root {
    --border-radius: 8px;
    --border-highlight: 4px;
    --game-card-width: 50rem;
    --game-card-interior: calc(var(--game-card-width) - var(--border-highlight));
    --game-card-offset: 5rem;
    --game-card-height: 10rem;
    --league-logo-size: 4rem;
    --team-logo-size: 4rem; 
}

html {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    color: #000000;
}

.game-time {
    margin: 0;
    font-size: 2rem;
}

.game-card {
    background: white;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: var(--game-card-height);
    width: var(--game-card-width);
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 0;
    border-left: var(--border-highlight) solid #6d6d6d;
}

.game-card > * {
    position: absolute;
}

.game-header {
    width: var(--game-card-interior);
    height: 100%;
    border-radius: var(--border-radius);
    font-size: 1rem;
    font-weight: 600;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.game-header > * {
    margin-right: calc(var(--game-card-interior) - var(--game-card-offset));
}

.matchup-divider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.league-logo {
    right: calc(var(--league-logo-size) / -2);
    top: calc(var(--game-card-height) / 2 - var(--league-logo-size) / 2);
    width: var(--league-logo-size);
    height: var(--league-logo-size);
    margin-left: 1rem;
}

.interest-level {
    font-size: 2rem;
    width: var(--game-card-offset);
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-body {
    width: calc(var(--game-card-interior) - var(--game-card-offset));
    height: 10rem;
    margin-left: var(--game-card-offset);
    z-index: 2;
    background: white;
    border-radius: var(--border-radius);
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.game-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
}

.matchup {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1.25rem 0 0.75rem;
    text-align: center;
    position: relative;
}

.matchup::after {
    content: "";
    border-bottom: 1px solid #e5e7eb;
    width: 90%;
    position: absolute;
    bottom: -0.5rem;
}

.team {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
}

.team-summary {
    flex-grow: 1;
}

.team-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.team.away .team-info {
    justify-content: right;
    margin-left: 1rem;
}

.team.home .team-info {
    justify-content: left;
    margin-right: 1rem;
}

.home .team-logo {
    order: -1;
}

.team-logo {
    width: var(--team-logo-size);
    height: var(--team-logo-size);
    flex-direction: column;
    align-items: center;
}

.team-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.team-stats {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.versus {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
}

.broadcasts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
    color: #4b5563;
}

.no-broadcasts-tag {
    display: flex;
    text-align: center;
    align-items: center;
    font-style: italic;
}

.broadcast-tag {
    width: fit-content;
    text-align: center;
    font-weight: 700;
    background: #f3f4f6;
    padding: 0.25rem 0.75rem;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 999px;
}

.score {
    font-size: 1.1rem;
    font-weight: 700;
}

/* Interest level styles */
.must-watch {
    border-color: #22c55e;

    .game-header {
        background: #dcfce7;
        color: #166534;
    }
}

.high-interest {
    border-color: #3b82f6;

    .game-header {
        background: #dbeafe;
        color: #1e40af;
    }
}

.decent {
    border-color: #f59e0b;

    .game-header {
        background: #fef3c7;
        color: #92400e;
    }
}

.low-interest {
    border-color: #ef4444;

    .game-header {
        background: #fee2e2;
        color: #b91c1c;
    }
}

.unknown-interest {
    border-color: #6d6d6d;

    .game-header {
        color: #6d6d6d;
        background: #acacac;
    }
}
