:root {
    --active-button-color: #2d60e0;
    --active-button-highlight-color: #c8d6ff;
    --inactive-button-color: #000000;
    --blocked-button-color: #c6c6c6;
}

.selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.sports-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

button {
    font-family: "Montserrat", sans-serif;
}

.sports-selector button {
    width: 8rem;
    height: 8rem;
    padding: 2px 0;

    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid var(--blocked-button-color);
    border-radius: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    transition: background-color 0.2s ease;

    &:hover {
        border: 3px solid var(--active-button-color) !important;
    }

    span {
        font-weight: 700;
    }
}

.sports-selector button.active {
    border: 2px solid var(--active-button-color);
    color: var(--active-button-color);
    background-color: var(--active-button-highlight-color);
    padding: 0;
}

img {
    width: 4rem;
    height: 4rem;
}

.week-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.week-navigation button {
    margin-right: 1rem;
    width: 5rem;
    height: 3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    color: var(--inactive-button-color);
    transition: color 0.2s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.week-navigation button.date4 {
    margin-right: 0;
}

.date-option:hover:not(.blocked) {
    color: var(--active-button-color);
    font-weight: 700;
}

.date-option.active {
    color: var(--active-button-color);
    font-weight: 700;
}

.date-option.blocked {
    color: var(--blocked-button-color);
    cursor: not-allowed;
}

button.chevron {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--inactive-button-color);
    transition: color 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    padding: 0;
    width: 3rem;
    height: 3rem;
}

button.chevron.blocked {
    color: var(--blocked-button-color);
    cursor: not-allowed;
}

button.chevron:hover:not(.blocked) {
    color: var(--active-button-color);
}

.sort-selector {
    max-width: var(--game-card-width);
    width: 100%;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    position: relative;

    > * {
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
    }
}

.dropdown-toggle {
    background: transparent;
    border: none;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 0.2rem;
    color: var(--active-button-color);
}

.dropdown-arrow {
    color: black;
    transition: transform 0.2s ease;
}

.dropdown-arrow.open {
    transform: rotate(180deg);
}

.dropdown-menu {
    position: absolute;
    right: 1rem;
    background: white;
    border: 1px solid var(--blocked-button-color);
    border-radius: 0.5rem;
    margin-top: 0.25rem;
    list-style: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
    text-align: right;
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.dropdown-menu li {
    cursor: pointer;
}

.dropdown-menu li:hover {
    color: var(--active-button-color);
    font-weight: 700;
}